<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta charset="UTF-8">
  	<meta name="viewport" content="width=device-width, initial-scale=1.0">
  	<meta http-equiv="X-UA-Compatible" content="ie=edge">
  	<link rel="stylesheet" href="../vendors/bootstrap/css/bootstrap.min.css">
    <link rel="stylesheet" href="../css/styleLogin.css">
    <title>login</title>
  </head>
  <body>
    <div class="contenedor-form">
        <div class="">
        </div>

        <div class="formulario">
            <h2>Iniciar Sesión</h2>
            <form action="#">
                <input id ="user_log" type="text" placeholder="Usuario" required>
                <input id="password_log" type="password" placeholder="Contraseña" required>
                <input id="iniciarSesion" type="submit" value="Iniciar Sesión">
            </form>
        </div>
        <div class="reset-password">
            <a href="#">Olvide mi Contraseña?</a>
        </div>
    </div>
    <script src="../vendors/jquery/jquery-3.2.1.min.js"></script>
  	<script src="../js/login.js"></script>
  </body>
</html>
