<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<meta http-equiv="X-UA-Compatible" content="ie=edge">
	<link rel="stylesheet" href="../vendors/bootstrap/css/bootstrap.min.css">
	<link rel="stylesheet" href="../assets/icons/icomoon/style.css">
	<link rel="stylesheet" href="../css/main.css">
	<link rel="stylesheet" href="../css/styleText.css">
	<link rel="stylesheet" href="../css/redSocialSmile.css">
	<title>smile</title>
</head>
<body>
	<header>
		<nav>
			<div class="container-fluid fondo">
			  <div class="row">
				  <div class="col-md-2 col-xs-2 flex">
						<figure class="logo">
							<img class="img-responsive" src="../assets/img/smile-logo.png" alt="">
						</figure>
						<div class="pin flex centrar">
							<h1 class="smile">SMILE</h1>
						</div>
				  </div>
					<div class="col-md-4 col-xs-4">
						<form class="navbar-form" role="search">
					    <div class="input-group add-on">
					      <input class="form-control border right" placeholder="Search" name="srch-term" id="srch-term" type="text">
					      <div class="input-group-btn">
					        <button class="btn btn-default border" type="submit"><i class="glyphicon glyphicon-search"></i></button>
					      </div>
					    </div>
					  </form>
					</div>
					<div class="col-md-5 col-xs-5">
						<ul class="menu">
							<li><a href="menu1_amigos.html" target="_blank" class="green hidden-xs name-queries">ANNIE</a> <img class="name-queries" src="../assets/img/usuario.png" alt=""> </li>
							<li><a href="../views/redSocialSmile.html" class="red hidden-xs name-queries"><span class="	glyphicon glyphicon-home icono"></span></a></li>
							<li><a href="../views/redSocialSmile.html" class="celeste hidden-xs name-queries"><span class="	glyphicon glyphicon-envelope icono"></span></a></li>
							<li><a href="../views/redSocialSmile.html" class="azul hidden-xs name-queries"><span class="	glyphicon glyphicon-bell icono"></span></a></li>
							<li><a href="../views/redSocialSmile.html" class="amarillo hidden-xs name-queries"><span class="	glyphicon glyphicon-warning-sign icono opcion"></span></a></li>
							<li id="options"><a href="../views/principalView.html" class="pink">SALIR</a></li><span class="glyphicon glyphicon-menu-down"></span>
						</ul>
					</div>
				</div>
			 </div>
		</nav>
	</header>
  <main class="flex center">
		<section class="seccion1">
	  	<div class="container-fluid">
	  		<div class="row">
	  			<div class="col-md-12">
	  				<div class="bienvenido seccion1-bienvenida flex center hidden-xs">
							<h2>Bienvenid<span class="genderL"></span><span class="icon-happy"></span> <strong class="userIdent">ANNIE</strong></h2>
							<img src="../assets/img/user.png" alt="">
							<br>
							<p>¿Como te gustaria que te llamen tus amigos?</p>
	  				</div>
						<div class="seccion1-bienvenida hidden-xs">
							<h2>Grupos Sugeridos <span class="icon-happy"></span></h2>
							<ul>
		  					<li class="contacto"><img src="../assets/img/contacto1.jpg" alt="">Contacto</li>
		  					<li class="contacto"><img src="../assets/img/contacto1.jpg" alt="">Contacto</li>
		  					<li class="contacto"><img src="../assets/img/contacto1.jpg" alt="">Contacto</li>
		  				</ul>
						</div>
						<div class="seccion1-bienvenida hidden-xs">
							<h2>Actividad de Amigos <span class="icon-happy"></span></h2>
		  				<ul>
		  					<li class="contacto"><img src="../assets/img/contacto1.jpg" alt="">Contacto</li>
		  					<li class="contacto"><img src="../assets/img/contacto1.jpg" alt="">Contacto</li>
		  					<li class="contacto"><img src="../assets/img/contacto1.jpg" alt="">Contacto</li>
		  					<li class="contacto"><img src="../assets/img/contacto1.jpg" alt="">Contacto</li>
		  					<li class="contacto"><img src="../assets/img/contacto1.jpg" alt="">Contacto</li>
		  					<li class="contacto"><img src="../assets/img/contacto1.jpg" alt="">Contacto</li>
		  				</ul>
						</div>
						<div class="seccion1-bienvenida hidden-xs">
							<h2>Amigos que puedas conocer <span class="icon-happy"></span></h2>
		  				<ul>
		  					<li class="contacto"><img src="../assets/img/contacto1.jpg" alt="">Contacto</li>
		  					<li class="contacto"><img src="../assets/img/contacto1.jpg" alt="">Contacto</li>
		  					<li class="contacto"><img src="../assets/img/contacto1.jpg" alt="">Contacto</li>
		  					<li class="contacto"><img src="../assets/img/contacto1.jpg" alt="">Contacto</li>
		  					<li class="contacto"><img src="../assets/img/contacto1.jpg" alt="">Contacto</li>
		  					<li class="contacto"><img src="../assets/img/contacto1.jpg" alt="">Contacto</li>
		  				</ul>
						</div>
	  			</div>
	  		</div>
	  	</div>
	  </section>
	  <section class="newsfeed">
	  	<div class="container-fluid">
	  		<div class="row">
	  			<div class="col-md-12">
	  			<!--Post image-->
							<div class="uploader-container">
								<progress value="0" max="100" id="uploader">0%</progress>
							  <input class="btn btn-warning" type="file" value="upload" id="fileButton">
							</div>
						<div class="clearfix">
							<form>
								<textarea id="tweet-area" placeholder="Sonríe y publica" autofocus></textarea>
								<img id="image-post" src="">
								<div class="footer-form clearfix">
									<input id="tweet-btn" class="tweet-btn" type="submit" value="Publicar" disabled>
									<span id="count" class="count"></span>
								</div>
							</form>
						</div>
						<div id="messages" class=""></div>
						<div class="foto-publicada">
							<div class="flex center img-name">
								<div class="img-face linea">
									<img class="img-circle" src="../assets/img/publicacion1.png" alt="">
								</div>
								<h2 class="linea">Smile te da la bienvenida</h2>
							</div>
							<figure class="img-publicado">
								<img src="../assets/img/fondo5.png" alt="">
							</figure>
							<div class="">
								<span class="icon-happy green"></span>
								<span class="glyphicon glyphicon-comment amarillo"></span>
								<span class="glyphicon glyphicon-share-alt pink"></span>
							</div>
							<div class="flex center">
								<div class="img-face linea">
									<img class="img-circle" src="../assets/img/publicacion1.png" alt="">
								</div>
								<div class="linea input-icon">
									<input type="text" name="" value="">
									<span class="icon-happy celeste"></span>
									<span class="	glyphicon glyphicon-camera red"></span>
								</div>
							</div>
						</div>
						<div class="foto-publicada">
							<div class="flex center img-name">
								<div class="img-face linea">
									<img class="img-circle" src="../assets/img/publicacion2.png" alt="">
								</div>
								<h2 class="linea">Smile te da la bienvenida</h2>
							</div>
							<figure class="img-publicado">
								<img src="../assets/img/fondo5.png" alt="">
							</figure>
							<div class="">
								<span class="icon-happy green"></span>
								<span class="glyphicon glyphicon-comment amarillo"></span>
								<span class="glyphicon glyphicon-share-alt pink"></span>
							</div>
							<div class="flex center">
								<div class="img-face linea">
									<img class="img-circle" src="../assets/img/publicacion2.png" alt="">
								</div>
								<div class="linea input-icon">
									<input type="text" name="" value="">
									<span class="icon-happy celeste"></span>
									<span class="	glyphicon glyphicon-camera red"></span>
								</div>
							</div>
						</div>
	  			</div>
	  		</div>
	  	</div>
	  </section>
	  <section class="seccion3 hidden-sm hidden-xs">
	  	<div class="container-fluid">
	  		<div class="row">
	  			<div class="col-md-12">
						<h1>Contactos <span class="icon-happy"></span></h1>
	  				<ul>
	  					<li class="contacto"><img src="../assets/img/contacto1.jpg" alt="">Contacto</li>
	  					<li class="contacto"><img src="../assets/img/contacto1.jpg" alt="">Contacto</li>
	  					<li class="contacto"><img src="../assets/img/contacto1.jpg" alt="">Contacto</li>
	  					<li class="contacto"><img src="../assets/img/contacto1.jpg" alt="">Contacto</li>
	  					<li class="contacto"><img src="../assets/img/contacto1.jpg" alt="">Contacto</li>
	  					<li class="contacto"><img src="../assets/img/contacto1.jpg" alt="">Contacto</li>
	  				</ul>
	  			</div>
	  		</div>
	  	</div>
	  </section>
	  <!--Modal-->
  <div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel"><strong>Photo selected</strong></h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="text-center modal-body img-container">
        <img id="img-uploaded" class="img" src="" alt="img-upload">
      </div>
      <div class="modal-footer">
        <button id="cancell" type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
        <button id="save" type="button" class="btn btn-primary">Save changes</button>
      </div>
    </div>
  </div>
</div>
  <!--================================-->
  </main>
  <script src="https://www.gstatic.com/firebasejs/4.8.1/firebase.js"></script>
<script>
  // Initialize Firebase
	var bUrl;
  var config = {
    apiKey: "AIzaSyDu_A5CC7DondKgGXJXeJ-2Hf_-Bqr7yBU",
    authDomain: "kids-161b6.firebaseapp.com",
    databaseURL: "https://kids-161b6.firebaseio.com",
    projectId: "kids-161b6",
    storageBucket: "kids-161b6.appspot.com",
    messagingSenderId: "486481126896"
  };
  firebase.initializeApp(config);
	var $indexNumber = localStorage.getItem('indexNumber');
	var $smile_accounts = JSON.parse(localStorage.getItem('users'));
	var myModal = document.getElementById('myModal');
	var cancell = document.getElementById('cancell');
	var save = document.getElementById('save');
	var imgUploaded = document.getElementById('img-uploaded');
	var imagePost = document.getElementById('image-post');
	
	cancell.addEventListener('click',hideModal);
	
	function hideModal() {
		myModal.setAttribute('class','modal fade');
	}
	
	
	
	//Get elements
	var uploader = document.getElementById('uploader');
	var fileButton = document.getElementById('fileButton');
	
	//Listen for file selection
	fileButton.addEventListener('change', function(e){
		//Get file
		var file = e.target.files[0];
		
		//Create a storage reference
		for(var i = 0;i<$smile_accounts.length;i++){
		var storageRef = firebase.storage().ref($smile_accounts[$indexNumber].name +$smile_accounts[$indexNumber].password + '_files/' + file.name);
		}
		//Upload file
		var task = storageRef.put(file);
		var storage = firebase.storage();
    var storageRef = storage.ref();
    var tangRef = storageRef.child('images/Tang.png');
		
		//Update progress bar
		task.on('state_changed', 
			function progress(snapshot) {
			  var percentage = (snapshot.bytesTransferred /
				snapshot.totalBytes) * 100;
			  uploader.value = percentage;
		  },
			function error(err) {
			  alert('Ha ocurrido un horror');
			  
		  },
						
			function complete(){
			  console.log('Carga exitosa');
			var storageRefImg = firebase.storage().ref();
			var spaceRef = storageRef.child($smile_accounts[$indexNumber].name + $smile_accounts[$indexNumber].password + '_files/' + file.name);
			storageRefImg.child($smile_accounts[$indexNumber].name + $smile_accounts[$indexNumber].password + '_files/' + file.name).getDownloadURL().then(function(url) {
             var test = url;
             console.log(url);
             document.querySelector('#img-uploaded').src = url;
				     var urlCode
             localStorage.url=url;
				     
         }).catch(function(error) {
            console.log('error');
         });
			
			  myModal.setAttribute('class','modal show');
			  function savePhoto() {
		      imagePost.src = document.querySelector('#img-uploaded').src;
		      myModal.setAttribute('class','modal fade');
	      }
			  save.addEventListener('click', savePhoto);
		    },
		  );
	  })
	
	
	
</script>
	<script src="../vendors/moment.js"></script>
	<script src="../vendors/jquery/jquery-3.2.1.min.js"></script>
	<script src="../js/redSocialSmile.js"></script>
</body>
</html>
