<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<meta http-equiv="X-UA-Compatible" content="ie=edge">
	<link rel="stylesheet" href="../vendors/bootstrap/css/bootstrap.min.css">
	<link rel="stylesheet" href="../css/main.css">
	<link rel="stylesheet" href="../css/styleText.css">
	<link rel="stylesheet" href="../css/redSocialSmile.css">
	<title>smile</title>
</head>
<body>
	<header>
		<nav>
			<div class="container-fluid fondo">
			  <div class="row">
				  <div class="col-md-3 col-xs-3 flex">
						<figure class="logo">
							<img src="../assets/img/smile-logo.png" alt="">
						</figure>
						<div class="pin flex centrar">
							<h1 class="smile">SMILE</h1>
							<span class="icon-chevron-down"></span>
						</div>
				  </div>
					<div class="col-md-3 col-xs-3">
						<input type="text" name="" value="search">
						<span>buscador</span>
					</div>
					<div class="col-md-6 col-xs-6">
						<ul class="menu">
							<li><a href="menu1_amigos.html" target="_blank" class="green">ANNIE</a> <img src="../assets/img/contacto1.jpg" alt=""> </li>
							<li><a href="menu2_recuerdos.html" target="_blank" class="pink">INICIO</a></li>
							<li><a href="menu4_peliculas.html" target="_blank" class="navy-blue"> <img src="../assets/img/icono3.png" alt=""> </a></li>
							<li><a href="menu4_peliculas.html" target="_blank" class="navy-blue"> <img src="../assets/img/icono2.png" alt=""> </a></li>
							<li><a href="menu4_peliculas.html" target="_blank" class="navy-blue"> <img src="../assets/img/icono1.png" alt=""> </a></li>
							<li><a href="menu5_videos.html" target="_blank" class="red">USUARIOS</a></li>
						</ul>
					</div>
				</div>
			 </div>
		</nav>
	</header>
  <main class="flex center">
		<section class="seccion1">
	  	<div class="container-fluid">
	  		<div class="row">
	  			<div class="col-md-12">
	  				<div class="bienvenido flex center">
							<h2>Bienvenida <strong>ANNIE</strong> </h2>
							<img src="../assets/img/annie1.jpg" alt="">
	  				</div>
						<div class="grupos">
							Grupos Sugeridos
						</div>
	  			</div>
	  		</div>
	  	</div>
	  </section>
	  <section class="newsfeed">
	  	<div class="container-fluid">
	  		<div class="row">
	  			<div class="col-md-12">
						<div class="clearfix">
							<form>
								<textarea id="tweet-area" placeholder="¿Qué estás pasando?" autofocus></textarea>
								<div class="footer-form clearfix">
									<input id="tweet-btn" class="tweet-btn" type="submit" value="tweet" disabled>
									<span id="count" class="count">140</span>
								</div>
							</form>
						</div>
						<div id="messages"></div>
	  			</div>
	  		</div>
	  	</div>
	  </section>
	  <section class="seccion3">
	  	<div class="container-fluid">
	  		<div class="row">
	  			<div class="col-md-12">
						<h1>Contactos</h1>
	  				<ul>
	  					<li class="contacto"><img src="../assets/img/contacto1.jpg" alt="">Contacto</li>
	  					<li class="contacto"><img src="../assets/img/contacto1.jpg" alt="">Contacto</li>
	  					<li class="contacto"><img src="../assets/img/contacto1.jpg" alt="">Contacto</li>
	  					<li class="contacto"><img src="../assets/img/contacto1.jpg" alt="">Contacto</li>
	  					<li class="contacto"><img src="../assets/img/contacto1.jpg" alt="">Contacto</li>
	  					<li class="contacto"><img src="../assets/img/contacto1.jpg" alt="">Contacto</li>
	  					<li class="contacto"><img src="../assets/img/contacto1.jpg" alt="">Contacto</li>
	  					<li class="contacto"><img src="../assets/img/contacto1.jpg" alt="">Contacto</li>
	  					<li class="contacto"><img src="../assets/img/contacto1.jpg" alt="">Contacto</li>
	  					<li class="contacto"><img src="../assets/img/contacto1.jpg" alt="">Contacto</li>
	  				</ul>
	  			</div>
	  		</div>
	  	</div>
	  </section>
  </main>
	<script src="../vendors/moment.js"></script>
	<script src="../vendors/jquery/jquery-3.2.1.min.js"></script>
	<script src="../js/redSocialSmile.js"></script>
</body>
</html>
