<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta charset="UTF-8">
  	<meta name="viewport" content="width=device-width, initial-scale=1.0">
  	<meta http-equiv="X-UA-Compatible" content="ie=edge">
  	<link rel="stylesheet" href="../vendors/bootstrap/css/bootstrap.min.css">
    <link rel="stylesheet" href="../css/styleForm.css">
    <title>sign up</title>
  </head>
  <body>
    <form action="" class="formulario">
      <h1 class="formulario__titulo">REGISTRATE</h1>
      <input type="text" class="formulario__input">
      <label for="" class="formulario__label">Nombres</label>
      <input type="text" class="formulario__input">
      <label for="" class="formulario__label">Correo</label>
      <input type="text" class="formulario__input">
      <label for="" class="formulario__label">Teléfono</label>
      <input type="text" class="formulario__input">
      <label for="" class="formulario__label">Mensaje</label>
      <input type="submit" class="formulario__submit">
    </form>
    <script src="../vendors/jquery/jquery-3.2.1.min.js"></script>
  	<script src="../js/signup.js"></script>
  </body>
</html>
