<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta charset="UTF-8">
  	<meta name="viewport" content="width=device-width, initial-scale=1.0">
  	<meta http-equiv="X-UA-Compatible" content="ie=edge">
  	<link rel="stylesheet" href="../vendors/bootstrap/css/bootstrap.min.css">
    <link rel="stylesheet" href="../css/styleForm.css">
    <title>sign up</title>
  </head>
  <body>
    <form action="" class="formulario">
      <h1 class="formulario__titulo">REGISTRATE</h1>
      <input id="nameInput" type="text" class="formulario__input">
      <label for="" class="formulario__label">Nombre de usuario</label>
      <input id="email" type="text" class="formulario__input">
      <label for="" class="formulario__label">Correo de padre</label>
      <input id="password" type="password" class="formulario__input">
      <label for="" class="formulario__label">Contraseña</label>
      <div class="selects-container">
      	<select class="form-control form-control-lg">
        <option value="" hidden>Dia</option>
        <option>1</option>
        <option>2</option>
        <option>3</option>
        <option>4</option>
        <option>5</option>
        <option>6</option>
        <option>7</option>
        <option>8</option>
        <option>9</option>
        <option>10</option>
        <option>11</option>
        <option>12</option>
        <option>13</option>
        <option>14</option>
        <option>15</option>
        <option>16</option>
        <option>17</option>
        <option>18</option>
        <option>19</option>
        <option>20</option>
        <option>21</option>
        <option>22</option>
        <option>23</option>
        <option>24</option>
        <option>25</option>
        <option>26</option>
        <option>27</option>
        <option>28</option>
        <option>29</option>
        <option>30</option>
        <option>31</option>
      </select>
      
      <select class="form-control form-control-lg">
       <option value="" hidden>Mes</option>
        <option>Enero</option>
        <option>Febrero</option>
        <option>Marzo</option>
        <option>Abril</option>
        <option>Mayo</option>
        <option>Junio</option>
        <option>Julio</option>
        <option>Agosto</option>
        <option>Setiembre</option>
        <option>Octubre</option>
        <option>Noviembre</option>
        <option>Diciembre</option>
      </select>
    
    <select class="form-control form-control-lg">
       <option value="" hidden>Año</option>
        <option>2005</option>
        <option>2006</option>
        <option>2007</option>
        <option>2008</option>
        <option>2009</option>
        <option>2010</option>
        <option>2011</option>
        <option>2012</option>
      </select>
      </div>
      
      <div class="radio">
  <label><input id="radio_girl" type="radio" name="optradio">Niña</label>
</div>
<div class="radio">
  <label><input id="radio_boy" type="radio" name="optradio">Niño</label>
</div>
      
      <input type="checkbox" id="checkBox"><label >Estoy de acuerdo con los <a href="#">terminos de privacidad</a> de Smile.</label>
      
      <button id="done-btn" type="button" class="btn btn-warning">Crear cuenta Smile</button>
      </form>
    <script src="../vendors/jquery/jquery-3.2.1.min.js"></script>
  	<script src="../js/signup.js"></script>
  </body>
</html>
