<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<meta http-equiv="X-UA-Compatible" content="ie=edge">
	<link rel="stylesheet" href="../vendors/bootstrap/css/bootstrap.min.css">
	<link rel="stylesheet" href="../assets/icons/icomoon/style.css">
	<link rel="stylesheet" href="../css/flexslider.css" type="text/css">
	<link rel="stylesheet" href="../css/styleText.css">
	<link rel="stylesheet" href="../css/styleTarjeta.css">
	<link rel="stylesheet" href="../css/main.css">
	<title>smile</title>
</head>
<body>
	<header>
		<nav>
			<div class="container-fluid fondo">
			  <div class="row">
				  <div class="col-md-6 flex">
						<figure class="logoView">
							<img src="../assets/img/smile-logo.png" alt="">
						</figure>
						<div class="pin flex centrar">
							<h1 class="smile">SMILE</h1>
							<span id="icon" class="icon-chevron-down"></span>
						</div>
						<div class="hidden menu-colum">
							<ul class="">
								<li><a href="../views/principalView.html" class="green">INICIO</a></li>
								<li><a href="../views/videos.html" target="_blank" class="pink">VIDEOS</a></li>
								<li><a href="../views/juegos.html" target="_blank" class="celeste">JUEGOS</a></li>
								<li><a href="../views/usuarios.html" target="_blank" class="navy-blue">USUARIOS</a></li>
							</ul>
						</div>
				  </div>
					<div class="col-md-6">
						<ul class="menu">
							<li><a href="../views/principalView.html" class="green">INICIO</a></li>
							<li><a href="../views/videos.html" target="_blank" class="pink">VIDEOS</a></li>
							<li><a href="../views/juegos.html" target="_blank" class="celeste">JUEGOS</a></li>
							<li><a href="../views/usuarios.html" target="_blank" class="navy-blue">USUARIOS</a></li>
						</ul>
					</div>
				</div>
			 </div>
		</nav>
	</header>
	<section>
		<div class="container-fluid">
			<div class="row">
				<div class="col-md-12 padding">
					<div class="flexslider">
		        <ul class="slides">
		          <li>
		            <img class="img-responsive" src="../assets/img/fondo6.jpg" alt="">
		          </li>
		          <li>
		            <img class="img-responsive" src="../assets/img/fondo9.png" alt="">
		          </li>
		          <li>
		            <img class="img-responsive" src="../assets/img/3.jpg" alt="">
		          </li>
							<li>
		            <img class="img-responsive" src="../assets/img/6.png" alt="">
		          </li>
		        </ul>
		      </div>
				</div>
			</div>
		 </div>
    </section>
		 <section>
			 <div class="container-fluid">
 				<div class="row">
 					<div class="col-md-12">
						<h1 class="video">DIVIERTETE MIRANDO VIDEOS EN SMILE <span class="icon-happy"></span></h1>
						<div class="film1">
		          <iframe width="300" height="300"; src="../assets/img/video1.mp4" frameborder="0" allowfullscreen></iframe>
		        </div>
						<div class="film1">
		          <iframe width="300" height="300"; src="../assets/img/video2.mp4" frameborder="0" allowfullscreen></iframe>
		        </div>
						<div class="film1">
		          <iframe width="300" height="300"; src="../assets/img/video3.mp4" frameborder="0" allowfullscreen></iframe>
		        </div>
 					</div>
 				</div>
 			 </div>
		 </section>
		<footer>
			<div class="container-fluid">
				<div class="row">
					<div class="col-md-12">
						<p>Copyright ©2018  -  Privacidad  -  Términos de Servicio  -  FAQ  -  Contactar  -  Vista móvil  -  Vista tablet</p>
					</div>
				</div>
			 </div>
		</footer>
	<script src="../vendors/jquery/jquery-3.2.1.min.js"></script>
	<script type="text/javascript" src="../js/jquery.flexslider-min.js"></script>
	<!-- <script type="text/javascript" src="js/data.js"></script> -->
	<script src="../js/principalView.js"></script>
</body>
</html>
